SEQUENCE_DATA_PART-2

Slicing

In [2]:
str="LEARNING"

In [3]:
print(str)

LEARNING

In [4]:
str[slice(1,4,2)]

'ER'

In [5]:
str[:]

'LEARNING'

In [7]:
list=[1,2,'a','python',5]

In [8]:
print(list[ : 3])

[1, 2, 'a']

In [9]:
print(list[2 : ])

['a', 'python', 5]

In [10]:
list[2 : 4]

['a', 'python']

In [14]:
from array import *
arr=array('i',[1,2,3,4])
for x in arr:
    print(x)

1
2
3
4

In [16]:
arr[1 :]

array('i', [2, 3, 4])

In [17]:
arr[1 : -1]

array('i', [2, 3])

In [18]:
rangesample=range(1,12,4)
for x in rangesample:
    print(x)

1
5
9

In [19]:
print(rangesample[ : -1])

[1, 5]

In [20]:
print(rangesample[ 2 :])

[9]

Concatanation Syntax

In [21]:
print(str + ' ','python')

('LEARNING ', 'python')

In [22]:
print(str)

LEARNING

In [23]:
new=str + ' ','python'

In [24]:
print(new)

('LEARNING ', 'python')

In [25]:
print(list)

[1, 2, 'a', 'python', 5]

In [26]:
list + ['Dk']

[1, 2, 'a', 'python', 5, 'Dk']

In [27]:
print(arr)

array('i', [1, 2, 3, 4])

In [28]:
arr+[50,60]

TypeError: can only append array (not "list") to array

In [30]:
arr + array('i',[50,60])

array('i', [1, 2, 3, 4, 50, 60])

In [32]:
tuple=(1,2,3,4,5,'python')

In [33]:
print(tuple)

(1, 2, 3, 4, 5, 'python')

In [34]:
tuple = tuple + ('Dhana','njay')

In [35]:
print(tuple)

(1, 2, 3, 4, 5, 'python', 'Dhana', 'njay')

In [37]:
set=('python',5,48,39,'data',94)

In [38]:
print(set)

('python', 5, 48, 39, 'data', 94)

In [39]:
set=set,24

In [40]:
print(set)

(('python', 5, 48, 39, 'data', 94), 24)

Multiplicaton

In [44]:
str=str*3

In [45]:
print(str)

LEARNINGLEARNINGLEARNING

In [46]:
list = list*2

In [47]:
print(list)

[1, 2, 'a', 'python', 5, 1, 2, 'a', 'python', 5]

In [48]:
list[2]*2

'aa'

In [49]:
print(tuple)

(1, 2, 3, 4, 5, 'python', 'Dhana', 'njay')

In [50]:
tuple[2 : 4]*2

(3, 4, 3, 4)

In [51]:
arr*2

array('i', [1, 2, 3, 4, 1, 2, 3, 4])